*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: lightskyblue;
}

hr {
  margin-top: 4px;
  margin-bottom: 7px;
  background-color: black;
}

input:focus, :active{
  outline: none;

}

button :focus, :active{
  outline: none;
  border: none;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app__content {
  width: 300px;
  border: 2px solid #000;
  border-radius: 5px;
  height: 400px;
  background-color: darkorange;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

h2{
  margin: 7px;
  text-align: center;
}

.app__form {
  height: 30px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__form >input{
  width: 80%;
  height: 90%;
  border: #fff;
  border-radius: 0 0 4px 4px;
  background-color: #b7b5b5;
  padding-left: 4px;

  transition: background-color .25s ease-in-out;
}

.app__form > input:hover {
  background-color: #ffffff;
}

.app__form >button{
  margin-left: 3px;
  width: 18%;
  height: 86%;
  border: none;
  border-radius: 0 0 4px 4px;
  background-color: #b7b5b5;

  transition: background-color 0.25s ease-in-out;
}

.app__form >button:hover{
  background-color: #fff;
}

.app__content > ul li{
  margin-bottom: 5px;
}

.list__el {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.list__el button {
  border: none;
  margin-right: 3px;
  padding: 2px 4px;
}

.list__el button:active, :focus {
  outline: none;

}

.delButton{
  background-color: #ec3b3b;
}

.compButton{
  background-color: #46e746;
}


.clearButton {
  padding: 3px 12px;
  border: none;
  background-color: lightskyblue;

  border-radius: 5px;

  transition: .4s ease-in;
}

.clearButton:hover {
  background-color: greenyellow;
  cursor: pointer;
}

